@*@using WebSite.Infrastructure.Helpers*@

<!DOCTYPE html>
<html>
<head>

    @*--------------------------------------boczny pasek--------------------------*@
    <!-- Bootstrap -->
    @*<link href="/Temp1/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <!-- Font Awesome -->
    @*<link href="/Temp1/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">*@
    <!-- NProgress -->
    @*<link href="/Temp1/vendors/nprogress/nprogress.css" rel="stylesheet">*@
    <!-- jQuery custom content scroller -->
    @*<link href="/Temp1/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />*@ <!--tego nie mam w vendor-->
    <!-- Custom Theme Style -->
    <link href="/Temp1/build/css/custom.min.css" rel="stylesheet">  <!--kustomowe css-->
    <link href="/Temp2/css/theme-black.css" rel="stylesheet">
    @*--------------------------------------boczny pasek--------------------------*@




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Html.CssBundle("main-Css")
</head>
<body class="nav-md">
    <div class="container body" style="width:100%">
        <div class="main_container">
            <div class="col-md-2  menu_fixed" style="background-color:black;">
                <div style="height:100rem !important;" class="left_col" style="background-color:black;">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>dupa </span></a>
                    </div>
                    <div class="clearfix"></div> @*clearfix robi tak że poprzednie css nie mają wpływu i obiekty wustawiają sie jeden pod drugim *@

                    @Html.JsBundle("main-Js")
                    @Html.MvcSiteMap().Menu(showStartingNode: false)
                    @Html.MvcSiteMap().SiteMapPath()
                    </div >
                </div>
                <div class="col-md-10" style="padding:0px;">
                        <!-- top navigation -->
                        <div style="margin:0;" class="top_nav">
                            <div class="nav_menu">
                                <nav>
                                    <div class="nav toggle">
                                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                    </div>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="">
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="images/img.jpg" alt="">John Doe
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                <li><a href="javascript:;"> Profile</a></li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="badge bg-red pull-right">50%</span>
                                                        <span>Settings</span>
                                                    </a>
                                                </li>
                                                <li><a href="javascript:;">Help</a></li>
                                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                            </ul>
                                        </li>

                                        <li role="presentation" class="dropdown">
                                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-envelope-o"></i>
                                                <span class="badge bg-green">6</span>
                                            </a>
                                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                                <li>
                                                    <a>
                                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                        <span>
                                                            <span>John Smith</span>
                                                            <span class="time">3 mins ago</span>
                                                        </span>
                                                        <span class="message">
                                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                        <span>
                                                            <span>John Smith</span>
                                                            <span class="time">3 mins ago</span>
                                                        </span>
                                                        <span class="message">
                                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                        <span>
                                                            <span>John Smith</span>
                                                            <span class="time">3 mins ago</span>
                                                        </span>
                                                        <span class="message">
                                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                        <span>
                                                            <span>John Smith</span>
                                                            <span class="time">3 mins ago</span>
                                                        </span>
                                                        <span class="message">
                                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="text-center">
                                                        <a>
                                                            <strong>See All Alerts</strong>
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /top navigation -->

                    <!--------------główny wiok---------------------->
                        <div class="right_col" role="main" style="margin:0;">
                            <div class="">
                                <div class="page-title">
                                    <div  @*class="title_left"*@>
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!--------------główny wiok---------------------->







                        @*----------------boczny pasek-----------------------------*@
                        <!-- jQuery -->
                        @*<script src="/Temp1/vendors/jquery/dist/jquery.min.js"></script>*@ <!--jest jquery-->
                        <!-- Bootstrap -->
                        @*<script src="/Temp1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>*@ <!--jest bootstrap-->
                        <!-- FastClick -->
                        @*<script src="/Temp1vendors/fastclick/lib/fastclick.js"></script>*@
                        <!-- NProgress -->
                        @*<script src="/Temp1vendors/nprogress/nprogress.js"></script>*@
                        <!-- jQuery custom content scroller -->
                        @*<script src="/Temp1vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>*@

                        <!-- Custom Theme Scripts -->
                        <script src="/Temp1/build/js/custom.min.js"></script>
                       @*-------------------boczny  pasek--------------------------*@

                        @*-------------------------------wszystko z Joli Admin templates-------------*@
                        <!-- START PRELOADS -->
                        <audio id="audio-alert" src="/Temp2/audio/alert.mp3" preload="auto"></audio>
                        <audio id="audio-fail" src="/Temp2/audio/fail.mp3" preload="auto"></audio>
                        <!-- END PRELOADS -->
                        <!-- START SCRIPTS -->
                        <!-- START PLUGINS -->
                        <script type="text/javascript" src="/Temp2/js/plugins/jquery/jquery.min.js"></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/jquery/jquery-ui.min.js"></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/bootstrap/bootstrap.min.js"></script>
                        <!-- END PLUGINS -->
                        <!-- START THIS PAGE PLUGINS-->
                        <script type='text/javascript' src='/Temp2/js/plugins/icheck/icheck.min.js'></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

                        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
                        <script type="text/javascript" src="/Temp2/js/plugins/bootstrap/bootstrap-select.js"></script>
                        <!-- END THIS PAGE PLUGINS-->
                        <!-- START TEMPLATE -->
                        @*<script type="text/javascript" src="/Temp2/js/settings.js"></script> kręcidelko z prawej strony *@

                        <script type="text/javascript" src="/Temp2/js/plugins.js"></script>
                        <script type="text/javascript" src="/Temp2/js/actions.js"></script>
                        <script type="text/javascript" src="/Temp2/js/demo_maps.js"></script>
                        <!-- END TEMPLATE -->

                        @*<script>
                    document.getElementById('links').onclick = function (event) {
                        event = event || window.event;
                        var target = event.target || event.srcElement,
                            link = target.src ? target.parentNode : target,
                            options = {
                                index: link, event: event, onclosed: function () {
                                    setTimeout(function () {
                                        $("body").css("overflow", "");
                                    }, 200);
                                }
                            },
                            links = this.getElementsByTagName('a');
                        blueimp.Gallery(links, options);
                    };
                        </script>*@
            @*-------------------------------wszystko z Joli Admin templates-------------*@
                    </div>
                </div>
    </body>
</html>